<div class="topnav">
    <button class= button >Welcome Uses</button>
    <button class= button routerLink="/home_page">Home</button>
        <div class="dropdown">
            <button class= button>Start Quiz</button>
            <div class="dropdown-content">
            <a routerLink="/start_quiz">QUIZ 1</a>
            <a>QUIZ 2</a>
            <!-- <a routerLink="/mentor_page">Mentor</a>
            <a href="https://www.youtube.com/user/hubspot">Admin</a> -->
            </div>
        </div>
        <button class= button routerLink="/result_page">Result Page</button>
    <button class= button>Add Questions</button>
</div>
<img class="center"src = 'https://wallpapercave.com/wp/wp3913067.jpg'>