<div class="topnav">
    <button class= button routerLink="/home_page">Home</button>
        <div class="dropdown">
            <button class= button>Start Quiz</button>
            <div class="dropdown-content">
            <a routerLink="/start_quiz">QUIZ 1</a>
            <a>QUIZ 2</a>
            <!-- <a routerLink="/mentor_page">Mentor</a>
            <a href="https://www.youtube.com/user/hubspot">Admin</a> -->
            </div>
        </div>
    <button class= button>Add Questions</button>
</div>
<img class="center" width="100" height="500" src = 'https://cdn.pixabay.com/photo/2020/02/22/17/24/question-4871181_960_720.png'>