<div class="topnav">
  <button class= button >Welcome Uses</button>
  <button class= button routerLink="/home_page">Home</button>
      <div class="dropdown">
          <button class= button>Start Quiz</button>
          <div class="dropdown-content">
          <a routerLink="/start_quiz">QUIZ 1</a>
          <a>QUIZ 2</a>
          </div>
      </div>
  <button class= button routerLink="/add_quiz">Add Questions</button>
</div>
<body>
  <div class="center">
    <div class="btn-1">
    <a routerLink="/question_page"><span>Start Quiz</span></a>
  </div>
</div>

</body>




