<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<body>
<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>
<!-- navbar -->
     <nav>
        <ul>
           <li><a routerLink="/home_page">Home</a></li>
         </ul>
       </nav>
<!-- title & content -->
      <section class="header-content">
         <h1>Quiz Rules</h1>
        <p> * Only a single option can be selected in a question<br>
            * Click Next till the end of the quiz</p>
        <button routerLink="/question_page">Start Quiz</button>
        <button routerLink="/home_page">Back</button>
      </section>
  </header>
</div>
</body>


